.ajioLogo {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid black; */
    margin-top: 50px;
    width: auto;
    position: relative;

}

.logoContainer {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap:10px;
    position: relative;
    width:auto;
}

.alphabet{
    font-size: 30vw;
    color: white;
    z-index: -1;
    /* rgb(26,32,44) */
    /* border: 1px solid black; */
    display: inline-block;
    font-weight: bold;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* text-shadow:  .05em .05em 10px rgba(11, 11, 11, 0.668); */

}