* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    padding: 20px;
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    /* top:100px; */
    animation: moveUp 1s ease-out ;
   
}

@keyframes moveUp{
    0%{
       transform: translateY(-200px);
    }

    100%{
        transform: translateY(0);
    }
}