.comboBox{
    position: relative;
    height: 1500px;
    /* background-color: rgb(33,32,30); */
    margin-top: 50px;
    padding: 20px;
    
}


/* .combo_1{
    border: 1px solid black;
} */

.combo_1::before{
    content:"";
    content-visibility: hidden;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: -100px;
    transition: all .5s;
    z-index: 1;
}



.combo_1:hover::before{
    left: 0;
    content-visibility: visible;
    background-color: rgba(39, 41, 41, 0.6);
}



/* ------------------------------------------------ */


